@font-face {
    font-family: Epilogue;
    font-weight: bold;
    src: url(../fonts/Epilogue-bold.ttf);
}

@font-face {
    font-family: Epilogue;
    font-weight: normal;
    src: url(../fonts/Epilogue.ttf);
}

@font-face {
    font-family: Helvetica;
    font-weight: normal;
    src: url(../fonts/Helvetica.tcc);
}

html {
    font-family: Epilogue;
}

body, header, footer {
    margin: 0 0;
}

.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #9fb1fe;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.logo {
    font-size: 400%;
    font-weight: bold;
    color: #9fb1fe;
    margin-left: 40px;
}

.user-name {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #9fb1fe;
}

.header-button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #9fb1fe;
    border: none;
    border-radius: 42px;
  	padding: 15px 60px;
    cursor: pointer;
}

/* Add Ad */
.add-ad {
    width: 100%;
    display: block;
    height: 200px;
    background: url(../images/background.jpg) center no-repeat;
    background-size: cover;
}
    
.add-ad-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.add-ad-button {
    font-size: 40px;
    font-weight: bold;
    color: #9fb1fe;
    text-align: center;
    background-color: white;
    border: 1px solid #9fb1fe;
    border-radius: 42px;
    padding: 35px 60px;
    margin-top: 36px;
    cursor: pointer;
    display: none;
}

.sign-up-button { 
    font-size: 40px;
    font-weight: bold;
    color: #9fb1fe;
    text-align: center;
    background-color: white;
    border: 1px solid #9fb1fe;
    border-radius: 42px;
    padding: 35px 60px;
    margin-top: 36px;
    cursor: pointer; 
}

.ad-text {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 65px;
    margin-right: 140px;
}

/* Add an ad*/
#window1{
    width: 500px; 
    height: 450px; 
    margin: 250px auto; 
    background: white; 
    border: 3px solid #9fb1fe; 
    border-radius: 15px; 
    z-index: 150; 
    display: none;
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
}

.form1 {
    width: 275px; 
    margin: -15px auto 20px auto; 
    text-align: center;
}

.input{
    width: 260px; 
    padding: 5px; 
    margin-bottom: 10px; 
    border: 2px solid #9fb1fe; 
    border-radius: 42px; 
    text-align: #9fb1fe;
}

.input.button{
    width: 150px; 
    background-color: #9fb1fe; 
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.ad-calendar{
    width: 260px; 
    padding: 5px; 
    margin-bottom: 10px; 
    border: 2px solid #9fb1fe; 
    border-radius: 42px;
}

.closeAddAd{
    margin: 10px 0px 0px 450px; 
    cursor: pointer; 
    border: 1px solid #9fb1fe; 
    padding: 2px; 
    background: #9fb1fe; 
    border-radius: 2px;
}

h2{
    color: #9fb1fe;
}

#back1{
    background-color: #7e93f391; 
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    display: none;
    z-index: 100;
}

/*Sign Up*/
#window2{
    width: 500px; 
    height: 250px; 
    margin: 250px auto; 
    background: white; 
    border: 3px solid #9fb1fe; 
    border-radius: 15px; 
    z-index: 150; 
    display: none;
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
}

.form2 {
    width: 275px; 
    margin: -15px auto 20px auto; 
    text-align: center;
}

#back2{
    background-color: #7e93f391; 
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    display: none;
    z-index: 100;
}

.closeSigningUp{
    margin: 10px 0px 0px 450px; 
    cursor: pointer; 
    border: 1px solid #9fb1fe; 
    padding: 2px; 
    background: #9fb1fe; 
    border-radius: 2px;
}

.radio {
    margin-bottom: 10px;
}

/*Review*/
#window3{
    width: 500px; 
    height: 250px; 
    margin: 250px auto; 
    background: white; 
    border: 3px solid #9fb1fe; 
    border-radius: 15px; 
    z-index: 150; 
    display: none;
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
}

.form3 {
    width: 275px; 
    margin: -15px auto 20px auto; 
    text-align: center;
}

#back3{
    background-color: #7e93f391; 
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    display: none;
    z-index: 100;
}

.closeReview{
    margin: 10px 0px 0px 450px; 
    cursor: pointer; 
    border: 1px solid #9fb1fe; 
    padding: 2px; 
    background: #9fb1fe; 
    border-radius: 2px;
}

/* Filter */
.filter {
    display: flex;
    width: 100%;
    height: 250px;
    border-top: 2px solid #9fb1fe;
    border-bottom: 2px solid #9fb1fe;
}

.date-filter {
    display: block;
    width: 25%;
    height: 250px;
}

.hashtags-filter {
    display: block;
    width: 50%;
    height: 250px;
}

.vendor-filter {
    display: block;
    width: 25%;
    height: 250px;
}

.filter-title {
    font-size: 45px;
    color: #9fb1fe;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.calendar-block {
    display: flex;
    justify-content: space-between;
    margin: 0 85px;
    height: 65px;
    font-size: 30px;
    color: #9fb1fe;
    font-weight: bold;
}

.calendar {
    color: #e1e6ff;
    font-size: 15px;
    border: 1px solid #9fb1fe;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
}

.select-vendor {
    background-color: white;
    resize: none;
    border: 1px solid #9fb1fe;
    width: 400px;
    height: 50px;
}

.hashtags-blocks {
    display: flex;
    justify-content: center;
}

.hashtag-area {
    background-color: white;
    resize: none;
    border: 1px solid #9fb1fe;
    width: 400px;
    height: 50px;
}

.filter-button {
    margin-left: 330px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #9fb1fe;
    border: none;
    border-radius: 42px;
  	padding: 15px 60px;
    cursor: pointer;

}

/* Main */
.ad-block {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #9fb1fe;
}

.ad {
    display: block;
    width: 70%;
    border-right: 2px solid #9fb1fe;
}

.ad-title {
    font-size: 45px;
    color: #9fb1fe;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.ad-info {
    display: flex;
    justify-content: space-between;
}

.pic-container {
    direction: block;
    width: 200px;
    height: 200px;
    border: 1px solid #9fb1fe;
    margin-left: 30px;
}

.title-buttons {
    display: flex;
    justify-content: center;
}

.delete {
    margin-right: 40px;
}

.edit-button {
    width: 50px;
    height: 50px;
    border: white;
    background-color: white;
    cursor: pointer;
}
.delete-button {
    width: 50px;
    height: 50px;
    border: white;
    background-color: white;
    cursor: pointer;
}

.description-container {
    display: block;
    height: 80px;
    width: 300px;
    text-align: center;
    color: #9fb1fe;
    font-family: Helvetica;
    font-size: 23px;  
}

.more {
    color: #957af5;
    font-size: 24px;
}

.discount-container {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #7c95ff;
    margin-top: 5px;
    margin-right: 20px;
}

.discount-amount {
    font-size: 100px;
    color: #c67cff;
    margin: 10px;
}

.hashtags {
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #687bff;
}

.reviews {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #7c95ff;
    height: 400px;
    width: 430px;
}

.review-1 {
    display: block;
    height: 60px;
    font-size: 23px;
    font-family: Helvetica;
    text-align: left; 
    border-top: 1px solid #9fb1fe;
}

.review-2 {
    display: block;
    height: 60px;
    font-size: 23px;
    font-family: Helvetica;
    text-align: left; 
    border-top: 1px solid #9fb1fe;
}

.review-3 {
    display: block;
    height: 60px;
    font-size: 23px;
    font-family: Helvetica;
    text-align: left; 
    border-top: 1px solid #9fb1fe;
}

.review-4 {
    display: block;
    height: 60px;
    font-size: 23px;
    font-family: Helvetica;
    text-align: left; 
    border-top: 1px solid #9fb1fe;
}

.review-5 {
    display: block;
    height: 60px;
    font-size: 23px;
    font-family: Helvetica;
    text-align: left; 
    border-top: 1px solid #9fb1fe;
}

.username-date {
    display: flex;
    justify-content: space-between;
    color: #9fb1fe;
    font-size: 18px;
}

.button-review {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.leave-review {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #9fb1fe;
    border: none;
    border-radius: 42px;
  	padding: 5px 20px;
    cursor: pointer;
}

.checked {
    color: #c67cff;
}

.load-more {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #9fb1fe;
    border: none;
    border-radius: 42px;
  	padding: 35px 60px;
    margin: 15px 700px;
    cursor: pointer; 
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #e1e6ff;
    width: 100%;
    height: 190px;
    color: white;
    font-weight: bold;
}

.footer div {
    margin: 90px 30px;
    font-size: 20px;
}

.copyright {
    color: white;
    margin: 150px 30px;
    font-size: 20px; 
}

.email-footer {
    color: white;
}	