@font-face {
    font-family: Epilogue;
    font-weight: bold;
    src: url(fonts/Epilogue-bold.ttf);
}

@font-face {
    font-family: Epilogue;
    font-weight: normal;
    src: url(fonts/Epilogue.ttf);
}

@font-face {
    font-family: Helvetica;
    font-weight: normal;
    src: url(fonts/Helvetica.tcc);
}

body, header, footer {
    margin: 0 0;
}

.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #9fb1fe;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.logo {
    font-size: 400%;
    font-weight: bold;
    color: #9fb1fe;
    font-family: Epilogue;
    margin-left: 40px;
}

.user_name {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #9fb1fe;
    font-family: Epilogue;
}

.header_button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Epilogue;
    text-align: center;
    background-color: #9fb1fe;
    border: none;
    border-radius: 42px;
  	padding: 15px 60px;
}

/* Add Ad */

.add_ad {
    width: 100%;
    display: block;
    height: 200px;
    background: url(images/background.jpg) center no-repeat;
    background-size: cover;
}
    
.add_ad_inner {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.add_ad_button {
    font-size: 40px;
    font-weight: bold;
    color: #9fb1fe;
    font-family: Epilogue;
    text-align: center;
    background-color: white;
    border: 1px solid #9fb1fe;
    border-radius: 42px;
  	padding: 35px 60px;
    margin-top: 36px;
}

.ad_text {
    font-size: 60px;
    font-weight: bold;
    color: white;
    font-family: Epilogue;
    margin-top: 65px;
    margin-right: 140px;
}

/* Filter */
.filter {
    display: flex;
    width: 100%;
    height: 250px;
    border-top: 2px solid #9fb1fe;
    border-bottom: 2px solid #9fb1fe;
}

.date_filter {
    display: block;
    width: 25%;
    height: 250px;
}

.hashtags_filter {
    display: block;
    width: 50%;
    height: 250px;
}

.vendor_filter {
    display: block;
    width: 25%;
    height: 250px;
}

.filter_title {
    font-family: Epilogue;
    font-size: 45px;
    color: #9fb1fe;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.calendar_block {
    display: flex;
    justify-content: space-between;
    margin: 0 85px;
    height: 65px;
    font-family: Epilogue;
    font-size: 30px;
    color: #9fb1fe;
    font-weight: bold;
}

.calendar {
    color: #e1e6ff;
    font-family: Epilogue;
    font-size: 15px;
    border: 1px solid #9fb1fe;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
}

.select_vendor_button {
    padding: 25px 80px;
    color: #e1e6ff;
    font-family: Epilogue;
    font-size: 20px;
    border: 1px solid #9fb1fe;
    margin-left: 70px;
    margin-top: 10px;
}

.hashtags_blocks {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    color: #9fb1fe;
    font-family: Epilogue;
    font-size: 30px;
    line-height: 1.5;
}

/* Main */
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left_add {
    display: block;
    width: 50%;
    border-right: 2px solid #9fb1fe;
}

.right_add {
    display: block;
    width: 50%;
}

.ad_title {
    font-family: Epilogue;
    font-size: 45px;
    color: #9fb1fe;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.ad_info {
    display: flex;
    justify-content: space-between;
}

.pic_container {
    direction: block;
    width: 200px;
    height: 200px;
    border: 1px solid #9fb1fe;
    margin-left: 30px;
}

.title_buttons {
    display: flex;
    justify-content: center;
}

.delete {
    margin-right: 40px;
}

.description_container {
    display: block;
    height: 80px;
    width: 300px;
    text-align: center;
    color: #9fb1fe;
    font-family: Helvetica;
    font-size: 23px;  
}

.more {
    color: #957af5;
    font-size: 24px;
}

.discount_container {
    text-align: center;
    font-family: Epilogue;
    font-weight: bold;
    font-size: 36px;
    color: #7c95ff;
    margin-top: 5px;
    margin-right: 20px;
}

.discount {
    font-size: 100px;
    color: #c67cff;
    margin: 10px;
}

.hashtags {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: Epilogue;
    font-weight: bold;
    font-size: 18px;
    color: #687bff;
}

.reviews {
    display: block;
    border-top: 2px solid #9fb1fe;
    border-bottom: 2px solid #9fb1fe;
    text-align: center;
    font-family: Epilogue;
    font-weight: bold;
    font-size: 48px;
    color: #7c95ff;
    height: 500px;
}

.review {
    display: block;
    height: 75px;
    border-top: 2px solid #9fb1fe;
    color: #9fb1fe;
    font-size: 23px;
    font-family: Helvetica;
    text-align: left; 
}

.no_review {
    display: block;
    height: 75px;
    border-top: 2px solid #9fb1fe;
    color: #9fb1fe;
    font-size: 23px;
    font-family: Helvetica;
    text-align: center; 
}

.username_date {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    color: #687bff;
    font-size: 18px;
    font-family: Epilogue;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button_review {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.leave_review {
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: Epilogue;
    text-align: center;
    background-color: #9fb1fe;
    border: none;
    border-radius: 42px;
  	padding: 15px 20px;
    
}

.checked {
    color: #c67cff;
}

.load_more {
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: Epilogue;
    text-align: center;
    background-color: #9fb1fe;
    border: none;
    border-radius: 42px;
  	padding: 35px 60px;
    margin: 15px 700px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #e1e6ff;
    width: 100%;
    height: 190px;
    color: white;
    font-family: Epilogue;
    font-weight: bold;
}

.footer div {
    margin: 90px 30px;
    font-size: 20px;
}

.copyright {
    color: white;
    margin: 150px 30px;
    font-size: 20px; 
}

.email_footer {
    color: white;
}	